body{
    box-sizing: border-box;
   margin:0;
   padding:0;
width: 100%;
height: auto;
margin-left: 0;
margin-right: 0;


background: #414141;
font-family: 'Bebas Neue', cursive;
}
.header{
    
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
}


.imagen_fondo{ position: relative;
    display: inline-block;
    width:100vw;
    z-index: 1;
}

.verde{
    
    max-width: 300%;
    height: auto;
}

.h1{
    position: absolute;
    top: 0%;
    left: 20%;
    width: 20vw;
    height: auto;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 5rem;
    line-height: 3.8rem;
    text-align: left;
    color: #FFFFFF;
    z-index: 6;

}

.black{
    position: relative;
    width: 80vw;
    background: #131313;
    border-radius: 20px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 0;
    padding-bottom: 40px;

}

.header_black{  
    position: relative;  
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    overflow: hidden;
}

.musico{
    position: relative;
    display: inline-block;
    margin:0;
    margin-right: 10%;
    top: 10px;
    text-align: right;
    color: #51C0DC;
    font-style: normal;
    font-weight: normal;
    font-size: 5rem;
    line-height: 5rem;
    background-color: #131313;
    padding:15px;
    border-radius: 5px;
    z-index: 2;

    
    

}





.botonera{
    display: flex;
    float:right;
    justify-content: space-evenly;
    align-items: center;
width: 40%;
height: 36px;
right: 0px;
top: 10px;
padding:0;
background: rgba(98, 98, 98, 0.45);
border-radius: 6px 0px 0px 6px;
list-style: none;


}

.boton a {
    
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}

.boton a:hover{
    font-size: 1.4rem;
    cursor: pointer;
}





.div_lateral{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin:0;
    padding: 0;
    list-style: none;
    background: #131313;

}

.redes{
    width:300px;
    display: flex;
    justify-content: space-evenly;
}

.lilateral img{
    width: 48px;
    height: 48px;
    margin:0;
    padding: 0;

}

.lilateral img:hover{
    transform: scale(1.2)
}




.info{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;  
    background-color: #2c2c2c;
    top: 10px;
    
}

.info h3{
    font-size: 1.6rem;
    color: #51C0DC;
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 100;
}

.info p{
  
    font-size: 1.2rem;
    color: #ffffff;
    margin-right: 25px;
    font-weight: 100;
    text-align: right;

}

.grupos{
    position:relative;
    width: 60%;
    text-align: right;
    top: 0px;
    right: 0px;
    
}


.h2_black{
    
    font-style: italic;
    font-size: 1.3rem;
    transform: rotate(-5deg);
    margin:25px;
    font-weight: 100;

    padding-top: 20px;
    color: #ff0000;
    }



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

    /* inicio @media 750 a 960px */

    @media all and (min-width:750px) and (max-width:960px){

         
            
   

           
 


       
            
            .h1{
                position: absolute;
                top: 0%;
                left: 20%;
                font-size: 4rem;
                line-height: 3rem;
                text-align: left;
                color: #FFFFFF;
                z-index: 6;
            
            }
            





                    
        .musico{
            display: inline;
            position: relative;
            margin-right: 10%;
            top: 10px;
            text-align: right;
            color: #51C0DC;
            font-style: normal;
            font-weight: normal;
            font-size: 4.5rem;
            line-height: 4.5rem;
            background-color: #131313;
            padding:15px;
            border-radius: 5px;
            z-index: 5;
        }
        
        
        
        
        .black{
            position: relative;
            top:0px;
            display:flex;
            flex-direction: column;
            align-items: flex-end;
            width: 90%;

        width: 600px;
        background: #131313;
        border-radius: 20px ;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
        
        }
        
        .botonera{
            display: flex;
            float:right;
            justify-content: space-evenly;
            align-items: center;
        width: 50%;
        height: 36px;
        right: 0px;
        top: 10px;
        padding:0;
        background: rgba(98, 98, 98, 0.45);
        border-radius: 6px 0px 0px 6px;
        list-style: none;
        
        
        }
        
        .boton a {
            
            font-size: 1rem;
        }
        
        .boton a:hover{
            font-size: 1.2rem;
        }
        
                        
       
        
        .redes{
            width:250px;
            height:auto;
            display: flex;
            justify-content: space-evenly;
        }
        
        .lilateral img{
            width: 40px;
            height: 40px;
            margin:0;
            padding: 0;
        
        }
        
       
        
        
     
       
        
        .info h3{
            font-size: 1.4rem;
        }
        
        .info p{
          
            font-size: 1.1rem;
        }
        
        
        
        .h2_black{
            
            font-style: italic;
            font-size: 1.3rem;
            transform: rotate(-5deg);
            margin:25px;
            font-weight: 100;

            padding-top: 20px;
            color: #ff0000;
            }
        }    
        

    
    
    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

    /* inicio @media <749px */

    @media all and (max-width:749px){
        .header{
            background-color: #51C0DC;
            margin-bottom: 10px;
        }
        
                .verde{
                    display: none;
           
            
                        /* max-width: 100%;
                        height: auto;
                    
                    top: 46px; */
                  
                }
                
        
            .h1{
                position: absolute;
                top: 0%;
                left: 20%;
                font-size: 3rem;
                line-height: 2.2rem;
                    text-align: left;
                color: #FFFFFF;
                z-index: 6;
            
            }
        
        
        
                
        .musico{
            margin-right: 10%;
            top: 10px;
            text-align: right;
            color: #51C0DC;
            font-style: normal;
            font-weight: normal;
            font-size: 3rem;
            line-height: 3rem;
            background-color: #131313;
            padding:15px;
            border-radius: 5px;
            z-index: 5;
        }

    
 
    
    .botonera{
    width: 90%;
    }
    
    
    .redes{
        width:200px;
    }
    
    .lilateral img{
        width: 35px;
        height: 35px;
        margin:0;
        padding: 0;
    
    }

   
    
    .info h3{
        font-size: 1.2rem;
    }
    
    .info p{
      
        font-size: 1rem;
    }
    
    
    
    .h2_black{
        
        font-style: italic;
        font-size: 1rem;
        transform: rotate(-5deg);
        margin:25px;
        font-weight: 100;
        padding-top: 20px;
        color: #ff0000;
        }
    }    
    

    .info_video{
        position: relative;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-evenly;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;  
        background-color: #2c2c2c;
        top: 10px;
        
        
    }

    iframe{
        margin:10px;
        border-radius:5px;
        border: 2px solid #51c0dc2c;
    }
